/* Universal Secector for this CSS File */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Creating some variables */
:root{
    --themeColor: #107c41;
}

body{
    font-size: 14;
}


/* Stylizing the Main Container of our Excel Clone */
.container{
    height: 100vh;
}

/* Stylizing the Title Bar */
.title-bar{
    height: 5vh;
    background: var(--themeColor);
    color: white;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}




/* Stylizing the Menu Bar */
.menu-bar{
    background-color: var(--themeColor);
    height: 5vh;
    display: flex;
    align-items: center;
}

/* Stylizing all Menu Items simultaneously */
.menu-item{
    height: 5vh;
    width: 5vw;
    color: white;
    font-size: 18;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.menu-item:hover{
    background-color: #0a6332;
}

.menu-item.selected:hover{
    cursor: default;
    background-color: white;
}

/* Highlights the selected option in the Menu Bar */
.selected {
    background-color: white;
    color: var(--themeColor);
    font-weight: 700;
}

/* Stylizing the Menu Icon Bar */
.menu-icon-bar{
    height: 6vh;
    display: flex;
    align-items: center;
    background-color: rgb(241, 241, 241);
}

.menu-icon{
    padding: 13px;
    display: flex;
    align-items: center;
    height: 80%;
}

.menu-icon:hover{
    background-color: lightgray;
    cursor: pointer;
}

.font-family-selector{
    width: 20vh;
}

.selector{
    height: 4vh;
    font-size: 16px;
    margin-right: 0.5vw;
}

.align-icon.selected{
    background-color: lightgray;
    color: black;
}

.style-icon.selected{
    color: black;
    background-color: lightgray;
}


/* Stylizing the Formula Bar */
.formula-bar{
    padding: 5px;
    display: flex;
    align-items: center;
    height: 6vh;
    background-color: rgb(241, 241, 241);
}

.formula-editor{
    background-color: white;
    margin-left: 0.2vw;
    padding: 3px;
    display: flex;
    align-items: center;
    height: 4vh;
    border: 2px solid var(--themeColor);
}

.selected-cell{
    width: 10vw;
}

.function-sign img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.5vw;
    margin-right: 0.3vw;
    width: 1.5vw;
    color: black;
    height: 3vh;
}

.formula-input{
    width: 90vw;
    outline-color: 2px solid var(--themeColor);
}


/* Stylizing the data container which will hold all our data */
.data-container{
    height: 73vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
}

.select-all{
    height: 4vh;
    width: 2vw;
    border-right: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
}

.column-name-container{
    height: 4vh;
    width: 98vw;
    display: flex;
    overflow: hidden;
}

.column-name{
    border-right: 1px solid lightgray;
    border-bottom: 2px solid lightgray;
    min-width: 5vw;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-name-container{
    height: 69vh;
    width: 2vw;
    overflow: hidden;
}

.row-name{
    min-height: 4vh;
    border-bottom: 1px solid lightgray;
    border-right: 2px solid lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-cell-container{
    height: 69vh;
    width: 98vw;
    overflow: scroll;
}

.cell-row{
    display: flex;
}

.input-cell{
    display: flex;
    font-weight: 100;
    align-items: center;
    min-width: 5vw;
    min-height: 4vh;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    outline-color: var(--themeColor );
    overflow: hidden;
}

.input-cell.selected{
    font-size: inherit;
    color: black;
    border: 2px solid var(--themeColor);
    overflow: hidden;
}

/* Stylizing the Sheet Bar */
.sheet-bar{
    height: 5vh;
    display: flex;
    align-items: center;
    background-color: white;
}

.scroller{
    width: 70px;
}

.icon-left-scroll , .icon-right-scroll{
    font-size: 30px;
    padding: 0;
}

.icon-left-scroll:hover , .icon-right-scroll:hover{
    background-color: lightgray;
    cursor: pointer;
}

.icon-add:hover{
    transform: scale(1.2);
}

.icon-add{
    color: var(--themeColor);
    margin-left: 10px;
    margin-right: 10px;
}

.sheet-tab-container{
    border: 1px solid lightgray;
}

.sheet-tab{
    width: 80px;
    background-color: rgb(241, 241, 241);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 4px solid var(--themeColor);
    padding: 2px;
    cursor: default;
}


/* Selection of Cells properties */
/* These classes will be added to elements when multiple cells are selected */
.input-cell.top-cell-selected{
    border-top: none;
}

.input-cell.bottom-cell-selected{
    border-bottom: 1px solid lightgray;
}

.input-cell.right-cell-selected{
    border-right: 1px soid lightgrey;
}

.input-cell.left-cell-selected{
    border-left: none;
}